---
layout: default
---

<style >
  
</style>


<body>
<div class="about">
  
  

  <h1 class="post-title">{{ page.title }}</h1>


  
  <div class="post-line" ></div>

<div class = "mine" style="width: 250px; float:left; height:260px;  margin:10px">
    <img  align="middle" src="/assets/DSC_0606.jpg" height="250" width="250" alt="My photo" >
  </div>

  <div style="width: 400px; float:left; height:250px;  margin:10px">
    <p>Hi!
I'm Mukul, a third year undergraduate student at IIIT Delhi pursuing an innovative course in the intersection of Computer Science and Social Sciences.
I'm interested in research opportunties in Deep Learning, Artificial Intelligence and using them for social good. 
You can find me on <a href="https://github.com/mukulkumar22" target="_blank">Github</a> and also connect with me on <a href="https://twitter.com/mukulsachdeva_" target="_blank">Twitter</a> and <a href="https://www.linkedin.com/in/mukulkumar07/" target="_blank">Linkedin</a>.  Feel free to take a look at my <a href="/assets/CV_Mukul Kumar.pdf" download>resume</a> or contact me <a href="mailto:muk137kumar@gmail.com">here</a>. </p>
  </div>
</div>

<div style="width: 800px; float:left; height:250px;  margin:10px">
  
  <h1>Experience</h1>
  <ul>
    <li><b>Research Intern, <a href="https://www.wadhwaniai.org/" target="_blank">Wadhwani AI</a> </b>     &emsp; &emsp; &emsp; &emsp; (May, 2020 - Current)</li>
    
    Artificial Intelligence for Social Good. Using AI to solve some of the problems in Tuberculosis care.

    <br>

    <li style="margin-top: 20px;"><b>Summer Intern, <a href="https://tcpd.ashoka.edu.in/" target="_blank">Trivedi Centre for Political Data</a> </b>     &emsp; &emsp; &emsp; &emsp; (June, 2019 - July, 2019)</li>
Worked on extracting data from elections documents, cleaning them to create a dataset of the legislators for different state assemblies and Loksabha.

  </ul>


  <h1>Projects</h1>
  <ul>
    <li><b>Twitter Archive and Analysis Platform </b></li>
    Guide: <a href="https://www.oii.ox.ac.uk/people/ralph-schroeder/" target="_blank"><b>Prof. Ralph Schroeder, University of Oxford, Oxford Internet
Institute, UK </b> </a> and <a href="https://www.iimk.ac.in/faculty/facultyprofile.php?pid=anupamdas" target="_blank"><b>Prof. Anupam Das , IIM-Kozhikode</b></a> <br>
    Developed a tool/website to scrape/filter/analyse and compare tweets of biggest political leaders of India for the
analysis of 2019 General Elections of India.


    <li style="margin-top: 20px;"><b>Fashion Recommendation using visual preference modelling</b></li>
    Guide: <a href="https://www.iiitd.ac.in/rajivratn" target="_blank"><b>Dr. Rajiv Ratn Shah, IIIT Delhi</b></a> <br>
    Description to be added

    <li style="margin-top: 20px;"><b>Education Inequality in India: A spatial analysis</b></li>
    Guide: <a href="https://www.iiitd.ac.in/gaurava" target="_blank"><b>Dr. Gaurav Arora, IIIT Delhi</b></a> <br>
    Description to be added

    <li style="margin-top: 20px;"><b>Understanding Clouds from satellite images</b></li>
    Guide: <a href="https://www.iiitd.ac.in/jainendra" target="_blank"><b>Dr. Jainendra Shukla, IIIT Delhi</b></a> <br>
    Detection of cloud patterns using Deep learning. We used U-net with Resnet-34 and MaskRCNN to segment various shapes of clouds which could further help
researchers to understand climate change.

    <li style="margin-top: 20px;"><b>Automatic Toll System using OpenCV and ML</b></li>
    Guide: <a href="https://iiitd.ac.in/aman" target="_blank"><b>Dr. Aman Parnami, IIIT Delhi</b></a> <br>
    An Automatic Toll Collection System based on OpenCV and Machine Learning accompanied with an android app for user profiles
created as the final project for the course
Introduction to Engineering Design
  </ul>
 

</div>
</body>
